app-context-menu {

	width:auto;
	height:auto;
	display:none;
	position:fixed;
	z-index:2147483647;
	border-radius: 5px;
	border-style:solid;
	padding:5px 0 5px 0;
	border-color:#cccccc;
	font-family:var(--system-fonts);
	background-color:rgba(255, 255, 255, 0.95);

	-webkit-backdrop-filter:blur(40px);
	backdrop-filter:blur(40px);

	-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	-o-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);

	&:empty {
		display:none;
	}

	&[visible]:not(:empty) {
		display:block;
		border-width:1px;
	}

	body[macos-theme='dark'] & {
		border-color:#000000;
		background:rgba(46, 46, 46, 0.95);
	}

	body[macos-theme='light'] & {
		border-color:#cccccc;
		background:rgba(255, 255, 255, 0.95);
	}

	@media (prefers-color-scheme: dark) {
		border-color:#000000;
		background:rgba(46, 46, 46, 0.95);
	}

	@media (prefers-color-scheme: light) {
		border-color:#cccccc;
		background:rgba(255, 255, 255, 0.95);
	}

}

app-context-menu-item[type='separator'] {

	width:100%;
	display:none;
	margin:5px 0 5px 0;
	border-bottom:2px solid #e6e6e6;

	&[visible] {
		display:block;
	}

	body[macos-theme='dark'] & {
		border-bottom:2px solid #444444;
	}

	body[macos-theme='light'] & {
		border-bottom:2px solid #e6e6e6;
	}

	@media (prefers-color-scheme: dark) {
		border-bottom:2px solid #444444;
	}

	@media (prefers-color-scheme: light) {
		border-bottom:2px solid #e6e6e6;
	}

}

app-context-menu-item[type='normal'],
app-context-menu-item[type='checkbox'],
app-context-menu-item[type='radio'] {

	margin:0;
	padding:0;
	display:none;
	color:#bebebe;
	font-size:14px;
	overflow:hidden;
	line-height:18px;
	white-space:nowrap;
	text-decoration:none;
	text-overflow:ellipsis;
	padding:2px 30px 2px 25px;
	background-repeat:no-repeat;
	background-position:5px 2px;

	&[visible] {
		display:block;
	}

	body[macos-theme='dark'] & {
		color:#4f4f4f;
	}

	body[macos-theme='light'] & {
		color:#bebebe;
	}

	@media (prefers-color-scheme: dark) {
		color:#4f4f4f;
	}

	@media (prefers-color-scheme: light) {
		color:#bebebe;
	}

	&[checked] {

		background-size:15px auto;
		background-repeat:no-repeat;
		background-position:6px 5px;
		background-image:var(--background-checkmark-d);

		body[macos-theme='dark'] & {
			background-image:var(--background-checkmark-l);
		}

		body[macos-theme='light'] & {
			background-image:var(--background-checkmark-d);
		}

		@media (prefers-color-scheme: dark) {
			background-image:var(--background-checkmark-l);
		}

		@media (prefers-color-scheme: light) {
			background-image:var(--background-checkmark-d);
		}

	}

	&[enabled] {

		color:#434343;

		body[macos-theme='dark'] & {
			color:#ffffff;
		}

		body[macos-theme='light'] & {
			color:#434343;
		}

		@media (prefers-color-scheme: dark) {
			color:#ffffff;
		}

		@media (prefers-color-scheme: light) {
			color:#434343;
		}

		&:hover {

			color:#ffffff;
			cursor:pointer;
			background-color:var(--default-highlight, #187aee);

			@media (prefers-color-scheme: dark) {
				color:#ffffff;
			}

			@media (prefers-color-scheme: light) {
				color:#ffffff;
			}

		}

	}

}
