app-tag {

	color:#ffffff;
	display:inline;
	cursor:default;
	overflow:hidden;
	font-size:inherit;
	line-height:inherit;
	white-space:nowrap;
	vertical-align:middle;
	padding:2px 8px 2px 8px;
	background-color:#BBBBBB;

	&:empty {
		display:none;
	}

	&[curved] {
		border-radius:10px;
		&:before {
			border-radius:10px 0 0 10px;
		}
		close {
			border-radius:0 10px 10px 0;
		}
	}

	&[key] {

		padding-left:0;

		&:before {
			color:#ffffff;
			display:inline;
			margin-right:8px;
			font-size:inherit;
			content:attr(key);
			padding:2px 8px 2px 8px;
			background-color:#333333;
		}

	}

	&[closeable] {

		padding-right:0;

		close {

			color:#4a4a4a;
			cursor:pointer;
			display:inline;
			margin-left:8px;
			font-size:inherit;
			padding:2px 8px 2px 8px;
			background-color:#f5f5f5;

			&:hover {
				background-color:#efefef;
			}

		}

	}

	&[type='white']				{ background-color: #ffffff; color: #666666; }
	&[type='pale']				{ background-color: #F0F0F0; color: #666666; }
	&[type='grey']				{ background-color: #E0E0E0; color: #000000; }

	&[type='azure']				{ background-color: #1c14ef; }
	&[type='black']				{ background-color: #444444; }
	&[type='blue']				{ background-color: #00BFFF; }
	&[type='chartreuse']		{ background-color: #70ff77; }
	&[type='green']				{ background-color: #03C759; }
	&[type='light']				{ background-color: #CCCCCC; }
	&[type='lime']				{ background-color: #77ef15; }
	&[type='magenta']			{ background-color: #FA0266; }
	&[type='orange']			{ background-color: #ffba0c; }
	&[type='pink']				{ background-color: #ffc6fa; }
	&[type='purple']			{ background-color: #601b75; }
	&[type='red']				{ background-color: #ff463d; }
	&[type='royal']				{ background-color: #427af4; }
	&[type='seafoam']			{ background-color: #42f49e; }
	&[type='strawberry']		{ background-color: #ff5656; }
	&[type='turquoise']			{ background-color: #42f4df; }
	&[type='yellow']			{ background-color: #f4eb41; }

}
