app-popup {
	opacity:0;
	color:white;
	display:block;
	font-size:14px;
	position:fixed;
	visibility:hidden;
	z-index:2147483645;
	padding:5px 8px 5px 8px;
	background-color:rgba(0,0,0,0.75);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: opacity 0.1s ease-in 0s;
	-moz-transition: opacity 0.1s ease-in 0s;
	-ms-transition: opacity 0.1s ease-in 0s;
	-o-transition: opacity 0.1s ease-in 0s;
	transition: opacity 0.1s ease-in 0s;
}

app-popup[visible] {
	opacity:1;
	visibility:visible;
}
