dot {

	width:7px;
	height:7px;
	display:block;
	margin:0 0 7px 5px;

	&[type='gray'] {
		border:2px solid rgb(181,179,179);
		background-color:rgba(181, 179, 179, 0.2);
	}

	&[type='green'] {
		border:2px solid rgb(46, 199, 16);
		background-color:rgba(46, 199, 16, 0.2);
	}

	&[type='red'] {
		border:2px solid rgb(218, 1, 1);
		background-color:rgba(218, 1, 1, 0.2);
	}

	&[type='yellow'] {
		border:2px solid rgb(255, 200, 51);
		background-color:rgba(255, 200, 51, 0.2);
	}

}
