input, textarea, pre, code, [selectable], [contenteditable] {

	cursor:text;

	-webkit-user-select:text;
	-moz-user-select:text;
	-ms-user-select:text;
	-o-user-select:text;
	user-select:text;

	* {

		cursor:text;

		-webkit-user-select:text;
		-moz-user-select:text;
		-ms-user-select:text;
		-o-user-select:text;
		user-select:text;

	}

}
